html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --background: #002a69;
  --accent: #ebff41;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  color: var(--accent);
  background-color: var(--background);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
